<template>
  <b-container>
      <b-jumbotron :header="$t('home.title')" :lead="$t('home.subtitle')" >
        <vue-markdown :source="$t('home.intro')"></vue-markdown>

        <p>{{ $t("home.based_on", {'url': "https://github.com/gjtorikian/markdowntutorial.com"}) }}</p>
        <p>{{ $t("home.improve") }} <a href="http://framagit.org/tcit/markdown-tutorial/">here</a></p>
        <router-link :to="{ name: 'Lesson', params: {page: 1} }"><b-btn variant="primary">{{ $t("home.first_lesson") }}</b-btn></router-link>
      </b-jumbotron>
  </b-container>
</template>

<script>
  import VueMarkdown from 'vue-markdown';

  export default {
    name: 'Home',
    components: {
      VueMarkdown,
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
