<template>
  <b-container>
    <h1>{{ lesson.title }}</h1>
    <b-row>
      <vue-markdown :source="lesson.introduction"></vue-markdown>
    </b-row>

    <b-container v-for="chapter in lesson.chapters" :key="chapter.title">
      <b-row>
        <h3>{{ chapter.title }}</h3>
      </b-row>
      <b-row>
        <vue-markdown>{{ chapter.body }}</vue-markdown>
      </b-row>

      <b-container v-if="chapter.question">
        <b-row>
          <b-col>
            <!--<b-form-input v-model="chapter.question.input" :state="chapter.question.input === chapter.question.result"></b-form-input>-->
            <b-form-textarea v-model="chapter.question.input" :state="chapter.question.input === chapter.question.result"></b-form-textarea>
          </b-col>
          <b-col><vue-markdown :source="chapter.question.input" :breaks=false></vue-markdown></b-col>
        </b-row>
        <!--<button class="btn btn-default btn-skip">Skip</button>-->
      </b-container>
    </b-container>
    <b-container>
    <b-row>
      <vue-markdown :source="lesson.conclusion"></vue-markdown>
    </b-row>
      <router-link v-if="hasPrevious()" :to="{name: 'Lesson', params: {page: (parseInt(this.page, 10) - 1).toString()}}"><b-button variant='primary'>{{ $t('home.previous_lesson') }}</b-button></router-link>
      <router-link v-if="hasNext()" :to="{name: 'Lesson', params: {page: (parseInt(this.page, 10) + 1).toString()}}"><b-button variant='primary'>{{ $t('home.next_lesson') }}</b-button></router-link>
    </b-container>
  </b-container>
</template>
<script>
  import VueMarkdown from 'vue-markdown';

  export default {
    name: 'Lesson',
    components: {
      VueMarkdown,
    },
    props: {
      page: Number,
    },
    created() {
      this.loadData();
    },
    watch: {
      // call again the method if the route changes
      $route: 'loadData',
    },
    data() {
      return {
        lesson: [],
      };
    },
    methods: {
      async loadData() {
        this.lessons = await import(`../lessons/lessons.${this.$i18n.locale()}.json`);
        this.lesson = this.lessons.lessons[this.page - 1];
      },
      hasNext() {
        return this.lessons !== undefined &&
          this.lessons.lessons.length >=
          parseInt(this.page, 10) + 1;
      },
      hasPrevious() {
        return parseInt(this.page, 10) > 1;
      },
    },
  };
</script>

<style>
  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 0 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  pre {
    white-space: pre-wrap;
  }
</style>
