<template>
  <b-navbar toggleable="md" type="dark" variant="info">

    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

    <b-navbar-brand :to="{name: 'Home'}">Markdown tutorial</b-navbar-brand>

    <b-collapse is-nav id="nav_collapse">

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">

        <b-nav-form>
          <b-form-input size="sm" class="mr-sm-2" type="text" placeholder="Search"/>
          <b-button size="sm" class="my-2 my-sm-0" type="submit">Search</b-button>
        </b-nav-form>

        <b-nav-item-dropdown text="Lang" right>
          <b-dropdown-item v-for="lang in $store.state.i18n.translations.lang" :key="lang" @click="setLang(lang)">{{ lang | capitalize }}</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>

    </b-collapse>
  </b-navbar>
</template>

<script>
  export default {
    name: 'Navbar',
    filters: {
      capitalize(valueparam) {
        if (!valueparam) return '';
        const value = valueparam.toString();
        return value.charAt(0).toUpperCase() + value.slice(1);
      },
    },
    methods: {
      setLang(lang) {
        this.$i18n.set(lang);
      },
    },
  };
</script>
