<template>
  <div id="app">
    <Navbar></Navbar>
    <transition name="fade">
      <router-view/>
    </transition>
  </div>
</template>

<script>
  import Navbar from '@/components/Navbar';

  export default {
    name: 'app',
    components: {
      Navbar,
    },
  };
</script>

<style>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s ease;
  }
  .fade-enter, .fade-leave-active {
    opacity: 0
  }
</style>
